[run]
branch = True
source = .
omit = 
    */tests/*
    */test_*.py
    */__pycache__/*
    */Acheron/*
    */logs/*
    */.mypy_cache/*
    */.git/*
    */venv/*
    */env/*
    setup.py
    */migrations/*

[report]
precision = 2
show_missing = True
skip_covered = False
sort = Cover
exclude_lines =
    pragma: no cover
    def __repr__
    def __str__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstractmethod
    @abc.abstractmethod
    except ImportError
    pass

[html]
directory = htmlcov

[xml]
output = coverage.xml